NEXT_PUBLIC_SUPABASE_URL=https://jxvxcarrqxwisfvspguf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4dnhjYXJycXh3aXNmdnNwZ3VmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEyMDQ0NzAsImV4cCI6MjEwNjc4MDQ3MH0.TVaGHZ6CSHTAFwWu9qJbOxCfGml3mFAFZxdBw37zML0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp4dnhjYXJycXh3aXNmdnNwZ3VmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc5MTIwNDQ3MCwiZXhwIjoyMTA2NzgwNDcwfQ.rHYwlX3cNGd4bcF9XSjpvpEUiDdCSxRcuIYDzMvlNSk
NEXT_PUBLIC_APP_URL=http://localhost:3000
